

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    background: #ffffff;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
    display: table-cell;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    display: table;
    padding: 100px;
    /*border: 1px dashed #AF15B8;*/
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

body {
    font: 100%/1.5 "Montserrat", "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
    background: #ffffff;
    color: #000000;
    text-align: center;
    height: 100%;
}

#wrapper {
    /* max-width: 1200px; */
    text-align: center;
    background-color: #51c1d3;
    display: table;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

p {
    font-size: 1em;
}

#header {
    text-align: center;
    /* background: #ffffff; */
    /* padding-bottom: 0; */
    display: table-cell;
    vertical-align: middle;
}

form#search {
    display: inline-block;
    padding: 10px;
}

input[type="search"] {
    font-size: 1.2em;
    padding: 20px;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 20px;
    cursor: pointer;
    background: #32c5fd;
}

#header ul {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#header ul li {
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    text-align: center;
    padding: 10px;
    width: 170px;
    display: inline-block;
}

#header ul li a {
    text-decoration: none;
    color: #1d1d1d;
    display: block;
    border: 1px solid #ffffff !important;
}

#header ul li a:hover {
    color: #AF15B8;
    border: 1px solid orange !important;
}

#footer {
    background: #ffffff;
    text-align: left;
    padding: 0px 20px 30px 30px;
}

input.text {
    padding: 3px;
    border: 1px solid #999999;
}

#tab {
    margin: 10px;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 5px;
}

#tab img{
    width: 100%;
}

a{
    color: #000000;
    text-decoration: none;
}

#tab a{
    font-weight: bold;
}

#logo{
    font-family: montserrat;
    color: #ffffff !important;
    background: #000000;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.deviantart{
    color: rgba(255, 255, 255, 0) !important;
    background-color: #000000;
    background-image: url(../images/deviantart.svg);
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.github{
    color: rgba(255, 255, 255, 0) !important;
    background-color: #000000;
    background-image: url(../images/github.svg);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.behance{
    color: rgba(255, 255, 255, 0) !important;
    background-color: #000000;
    background-image: url(../images/behance.svg);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.upwork{
    color: rgba(255, 255, 255, 0) !important;
    background-color: #ffffff;
    background-image: url(../images/upwork.svg);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.transliteracija{
    color: rgba(255, 255, 255, 0) !important;
    background-color: #1C0900;
    background-image: url(../images/transliteracija.svg);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.agregator{
    color: rgba(255, 255, 255, 0) !important;
    background-color: #FF7100;
    background-image: url(../images/agregator.svg);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.adobe{
    color: rgba(255, 255, 255, 0) !important;
    background-color: #FF0000;
    background-image: url(../images/adobe.svg);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.trailblazer{
    color: rgba(255, 255, 255, 0) !important;
    background-color: #00e2ff;
    background-image: url(../images/trailblazer.webp);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 65px;
    text-align: center;
    border-radius: 5px;
}

.all{
    text-align: left;
    background: #fff9eb !important;
}

.books{
    text-align: left;
    border: 1px solid blue !important;
}

.socialnetworks{
    text-align: left;
    border: 1px solid red !important;
}

.recentwork{
    text-align: left;
    border: 1px solid orange !important;
}

#tab:hover > a{
    color: white;
}

#tab:hover{
    background:black !important;
    color: white !important;
}

.btn:hover > a{
    color: white;
}

.btn:hover{
    background:black !important;
    color: white !important;
}

#tab{
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
}

.btn{
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
}

a{
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
}
/* Tables
-----------------------------------------------------------------------------*/

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    text-align: left;
    font-weight: normal;
}

.banners{
    color: #2d2d2d;
    padding: 10px;
    position: relative;
    bottom: 30px;
}

#baneri{
    position: absolute;
    top: 40px;
    left: 10px;
}
